# Environment
.idea/
venv/
NaverPaper.iml
.DS_Store

# Project stuff
db.sqlite3
.env
*.json
.db
visited_urls.db
urls.db
urls.db-journal
__pycache__/
naverpaper.drawio
.$naverpaper.drawio.bkp
.png
.auth/
*.html